In [417]:
import pandas as pd
import numpy as np

# Import test simulation data

In [418]:
df = pd.read_parquet("/mnt/d/OneDrive - University of Waterloo/KidsAbility Research/Service Duration Analysis/C++ Simulations/test/simulation_data_0.parquet")
df['appt_duration'] = df['discharge_t'] - df['first_appt'] + 1
df['wait_effect'] = 1.2*df['total_wait_time']/52
df.head()

,class,base_duration,arrival_t,first_appt,n_appts,discharge_t,n_ext,sojourn_time,total_wait_time,discharge_duration,modality_sum,pct_face,age_out,appt_duration,wait_effect
0,0,7,0,0,7,6,0,6,0,7,3,0.428571,0,7,0.0
1,0,7,0,0,7,6,0,6,0,7,3,0.428571,0,7,0.0
2,0,7,0,0,7,6,0,6,0,7,3,0.428571,0,7,0.0
3,0,7,0,0,7,7,0,7,0,7,2,0.285714,0,8,0.0
4,0,7,0,0,8,7,0,7,0,7,4,0.500000,0,8,0.0

In [419]:
df['class'].value_counts()

class
1    33762
0    33385
2    32806
Name: count, dtype: int64

In [420]:
df.groupby('class')['age_out'].mean()

class
0    0.000000
1    0.000000
2    0.831799
Name: age_out, dtype: float64

In [421]:
df.loc[df['age_out']==0].groupby('class')['n_appts'].mean()

class
0     7.246548
1    10.518779
2    14.750091
Name: n_appts, dtype: float64

In [422]:
df.loc[df['age_out']==0].groupby('class')['appt_duration'].mean()

class
0     8.275094
1    12.389639
2    16.653135
Name: appt_duration, dtype: float64

In [423]:
df.groupby('class')['age_out'].mean()

class
0    0.000000
1    0.000000
2    0.831799
Name: age_out, dtype: float64

In [424]:
df.groupby('class')['sojourn_time'].mean()

class
0      7.515830
1     13.461999
2    166.020149
Name: sojourn_time, dtype: float64

In [425]:
df.loc[df['age_out'] == 0, 'pct_face'].describe()

count    72665.000000
mean         0.687920
std          0.340212
min          0.000000
25%          0.428571
50%          0.750000
75%          1.000000
max          1.000000
Name: pct_face, dtype: float64

In [426]:
df.loc[df['age_out']==0].groupby('class')['total_wait_time'].mean()

class
0      0.076412
1      1.878177
2    151.277818
Name: total_wait_time, dtype: float64

In [427]:
df['total_wait_time'].describe()

count    99953.000000
mean         9.011365
std         34.711406
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max        155.000000
Name: total_wait_time, dtype: float64